extends ./common

block main
  .container.py-5
    h2.text-center THỐNG KÊ LOẠI PHÒNG

    table.table.table-hover.table-sm
      thead.thead-light
        tr.text-center
          th Mã loại phòng
          th Tên loại phòng
          th Giá tiêu chuẩn
          th Số lần được thuê
      tbody
        each lp in dsThongKe
          tr.text-center
            td= lp.MALOAIPHONG
            td= lp.TENLOAIPHONG
            td= lp.GIA_TIEUCHUAN
            td= lp.SL
block scripts
  if (SDN)
    script window.onload = function() {alert('Đăng nhập thành công')}
  if (SCNGLP)
    script window.onload = function() {alert('Cập nhật giá thành công')}