html(lang="vi")
  head
    title= title
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/danhsachPhong.css")
    script(src="/scripts/jquery.js")
    script(src="/scripts/popper.min.js")
    script(src="/scripts/bootstrap.min.js")
  body
    block header
    block content
    block footer
